numpy
pandas
matplotlib
seaborn
scikit-learn
tensorflow
keras
torch
torchvision
tqdm
xgboost
catboost
lightgbm
nltk
spacy
opencv-python
pillow
scipy
statsmodels
sympy
plotly
networkx
pycaret
sqlalchemy
psycopg2
jupyter
notebook
jupyterlab
